@model Vexed.Models.LeaveRequest

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="login-form-small col-md-4 justify-content-center">
        <h4>Leave Request</h4>
        <hr />
        <div class="text-left p-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <b>Type:</b>
                    </div>
                    <div class="col-8">
                        <select asp-for="Type" class="form-control" asp-items="ViewBag.LeaveTypes"></select>                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <b>Start date:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <b>End date:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <b>Quantity:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <b>Status:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <b>Comments:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-4">
                    <div class="col-4 my-2">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-8">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
