@using Microsoft.AspNetCore.Identity
@using Vexed.Services;
@inject LanguageService language
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <hr />
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class='bx bxs-user nav_icon'></i> <span class="ml-2">Account </span>
        </a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <i class='bx bx-log-out nav_icon'></i> <span class="ml-2">Logout </span>
        </a>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">@language.GetKey("Register")</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@language.GetKey("Login")</a>
    </li>
}
