@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center my-5">
                <div class="col-md-5 my-5">
                    <div class="form-input-content text-center my-5">
                        <h1 class="error-text font-weight-bold mt-5">Error</h1>
                        <h4 class="mt-4"><i class="fa fa-exclamation-triangle text-warning"></i> An error occurred while processing your request.</h4>
                        @if (Model != null && Model.ShowRequestId)
                        {
                            <p>
                                <strong>Request ID:</strong> <code>@Model.RequestId</code>
                            </p>
                        }

                        <div class="mt-5">
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Dashboard">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>