<main class="menu-body grid">
    <article>
        <div class="menu-text">
            <h3>🕔 Time Cards</h3>
        </div>
        <div class="menu-text">
            <a class="btn btn-light" asp-controller="TimeCards" asp-action="Index">View</a>
        </div>
    </article>

    <article>
        <div class="menu-text">
            <h3>📅 Leave Request</h3>
        </div>
        <div class="menu-text">
            <a class="btn btn-light" asp-controller="LeaveRequests" asp-action="Index">View</a>
        </div>
    </article>

    <article>
        <div class="menu-text">
            <h3>📒 Contact info</h3>
        </div>
        <div class="menu-text">
            <a class="btn btn-light" asp-controller="ContactInfoes" asp-action="Index">View</a>
        </div>
    </article>

    <article>
        <div class="menu-text">
            <h3>🛡️ Emergency Contact</h3>
        </div>
        <div class="menu-text">
            <a class="btn btn-light">View</a>
        </div>
    </article>

    <article>
        <div class="menu-text">
            <h3>📇 Details</h3>
        </div>
        <div class="menu-text">
            <a class="btn btn-light">View</a>
        </div>
    </article>

    <article>
        <div class="menu-text">
            <h3>🏬 Employment</h3>
        </div>
        <div class="menu-text">
            <a class="btn btn-light">View</a>
        </div>
    </article>


</main>
