@model Vexed.Models.TimeCard

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="login-form-small col-md-4 justify-content-center">
        <h4>Time Card</h4>
        <hr />
        <div class="text-left p-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-barcode'></i>
                        <b>Project Code:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProjectCode" class="form-control" />
                        <span asp-validation-for="ProjectCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-detail'></i>
                        <b>Task details:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="TaskDetails" class="form-control" />
                        <span asp-validation-for="TaskDetails" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-map'></i>
                        <b>Location:</b>
                    </div>
                    <div class="col-8">
                        <select asp-for="Location" class="form-control" asp-items="ViewBag.LocationTypes"></select>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-chevrons-right'></i>
                        <b>Start date:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-chevrons-left'></i>
                        <b>End date:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-bar-chart-alt-2'></i>
                        <b>Quantity:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-stats'></i>
                        <b>Status:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-comment'></i>
                        <b>Comments:</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-4">
                    <div class="col-4 my-2">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-8">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
