html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/**--------------*/
* {
    box-sizing: border-box;
}


.menu-body {
    justify-content: center;
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.grid > article {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5% 0;
    border-radius: 20px;
}


.grid .menu-text {
    padding: 10px 20px 20px 30px;
    color: #808285;
    
}

/*.grid .btn {
    margin-top: 20px;
    background-color: #e0d4e9;
    border: 0;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    line-height: 5;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
*/